@import url('https://fonts.googleapis.com/css2?family=Unbounded:wght@200;300;400;500;600;700;800;900&display=swap');

.main-intro {
}

.logo span {
  /*
  background-image: linear-gradient(90deg, rgb(97,100,250,1) 0%, rgb(97,100,250,0.8) 100%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  */
  }
  
  .logo h1 {
    color: #171717;
    margin-top: 1rem;
    margin-bottom: 0;
    font-family: 'Roboto Slab', serif; font-weight: 900; /* font-family: 'Plus Jakarta Sans'; или font-family: 'Montserrat';*/
    font-size: 5rem;
  }
  
  .logo p {
    color: #171717;
    margin-top: 1vh;
    font-family: 'Unbounded', sans-serif; font-weight: 400px;
    font-size: 1.8vh;
  }